body {

    background-color: black;
    color: white;
text-align: center;

}
 
.vetFormContainer input[type=text] {
    background-color: gray;

}

.vetFormContainer input[type=number] {
    background-color: green;
    
    }

    .vetFormContainer #petType {
        background-color: green;

    }

    .vetFormContainer input[type=time] {
background-color: green;

    }

.vetFormContainer button {
    font-size: 2418;
padding: 14px 40px;
border-radius: 10px;
background-color: green;
border: 2px solid purple;
}
